h1{
	
}

a:link{

}

a:visited{
	
}

a:hover{
	
}

#Container{
  
   width:1000px;
   min-height:600px;
      
}

#TopNav{
	
}

#CenterScr{
}
	
#TexContainer{
	
}
	  
#MyAndroidGames{

}
   	 
#"Footer"[

}